@import "tailwindcss";


@layer utilities {
  .bg-background {
    background-color: #ffffff;
  }
  .bg-primary {
    background-color: #FB6F92;
  }
  .hover\:bg-primaryHover:hover {
    background-color: #ff2e63;
  }

  .hover\:text-primary:hover{
    color: #FB6F92;
  }
  
  .hover\:border-primary:hover{
    border-color: #FB6F92;
  }

  .text-dark {
    color: #1f1f1f;
  }
  .text-light {
    color: #ffffff;
  }
  .border-primary {
    border-color: #FB6F92;
  }
  .border-gray{
    border-color: lightgray;
  }
  .text-heading{
    color: #1f1f1f
  }
  .hover\:bg-accent:hover {
    background-color: #FFC2D1;
  }
}
